<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QuoteFetchApiUrl" value="https://api.kanye.rest"/>
    <add key="QuoteValidatorApiUrl" value="https://sentim-api.herokuapp.com/api/v1/"/>
    <add key="minQuotesNum" value="5"/>
    <add key="maxQuotesNum" value="20"/>
  </appSettings>
</configuration>